<form>
    <h2>Ingresar un nuevo heroe</h2>
    <section>
        <div>
            <label for="codigo">Codigo:</label>
            <input id="codigo" type="text" [(ngModel)]="codigo" name="codigo">
        </div>
        <div>
            <label for="fecha">Fecha:</label>
            <input id="fecha" type="date" [(ngModel)]="fecha" name="fecha">
        </div>
        <div>
            <label for="cliente">Cliente:</label>
            <input id="cliente" type="text" [(ngModel)]="cliente" name="cliente">
        </div>
        <div>
            <label for="tipo_Interacion">Tipo de interacion:</label>
            <select [(ngModel)]="tipo_Interacion" name="tipo_Interacion">
                    <option value = "" name = "tipo_Interacion"></option>
                    <option value = "telefono fijo" name = "tipo_Interacion">telefono fijo</option>
                    <option value = "celular" name = "tipo_Interacion">celular</option>
                    <option value = "ws" name = "tipo_Interacion">ws</option>
                    <option value = "instagram" name = "tipo_Interacion">instagram</option>
                    <option value = "fb" name = "tipo_Interacion">fb</option>
                </select>
        </div>


        <button (click)="insertRegistro()">Guardar</button>

    </section>
</form>